
div .bg-color1{
    background-color: #08a3ff;
}

div .text-color1{
    color: #08a3ff;
}

div .bg-color2 {
    background-color: #03d9fb;
}

div .text-color2{
    color: #03d9fb;
}

div .bg-color3{
    background-color: #7dfd79;
}

div .text-color3{
    color: #7dfd79;
}

div .bg-color4{
    background-color: #fffaa1;
}

div .text-color4{
    color: #fffaa1;
}

div .bg-color5{
    background-color: #fffaf4;
}

div .text-color5{
    color: #fffaf4;
}

.color_nav_dashboard{
    background-image: linear-gradient(180deg, #131430 0, #00002b 50%, #000027 100%);
}
.color_nav_fuente{
    color: #a2abfa;
}
.color_nav_fuente1{
    color: #737480;
}