
div .bg-color1{
    background-color: #08a3ff;
}

div .text-color1{
    color: #08a3ff;
}

div .bg-color2 {
    background-color: #03d9fb;
}

div .text-color2{
    color: #03d9fb;
}

div .bg-color3{
    background-color: #7dfd79;
}

div .text-color3{
    color: #7dfd79;
}

div .bg-color4{
    background-color: #fffaa1;
}

div .text-color4{
    color: #fffaa1;
}

div .bg-color5{
    background-color: #fffaf4;
}

div .text-color5{
    color: #fffaf4;
}
