
div .bg-color1{
    background-color: #08a3ff;
}

div .text-color1{
    color: #08a3ff;
}

div .bg-color2 {
    background-color: #03d9fb;
}

div .text-color2{
    color: #03d9fb;
}

div .bg-color3{
    background-color: #7dfd79;
}

div .text-color3{
    color: #7dfd79;
}

div .bg-color4{
    background-color: #fffaa1;
}

div .text-color4{
    color: #fffaa1;
}

div .bg-color5{
    background-color: #fffaf4;
}

div .text-color5{
    color: #fffaf4;
}

.color_nav_dashboard{
    background-image: linear-gradient(180deg, #ffffff 0, #ffffff 50%, #ffffff 100%);
}
.color_nav_fuente{
    color: #000000;
}
.color_nav_fuente1{
    color: #737480;
}

.action{
    color: #737480;
}

.btnMicroStart .msjMicroStart {
    visibility: hidden;
   
    background-color: #737480;;
    color: #fff;
    position: absolute;
    border-radius: 6px;
    padding: 5px ;
    font-size: 12px;
    margin-top: 30px;
   margin-left: -50px;
   font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  }
  
  .btnMicroStart:hover .msjMicroStart {
    visibility: visible;
  }

  .btnMicroStop .msjMicroStop {
    visibility: hidden;
   
    background-color: #737480;;
    color: #fff;
    position: absolute;
    border-radius: 6px;
    padding: 5px ;
    font-size: 12px;
    margin-top: 30px;
   margin-left: -32px;
   font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  }
  
  .btnMicroStop:hover .msjMicroStop {
    visibility: visible;
  }

  .btnMicroVoz .msjMicroVoz {
    visibility: hidden;
   
    background-color: #737480;;
    color: #fff;
    position: absolute;
    border-radius: 6px;
    padding: 5px ;
    font-size: 12px;
    margin-top: 30px;
   margin-left: -40px;
   font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  }
  
  .btnMicroVoz:hover .msjMicroVoz {
    visibility: visible;
  }

  .btnMicroVoz2 .msjMicroVoz2 {
    visibility: hidden;
   
    background-color: #737480;;
    color: #fff;
    position: absolute;
    border-radius: 6px;
    padding: 5px ;
    font-size: 12px;
    margin-top: 30px;
   margin-left: -40px;
   font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  }
  
  .btnMicroVoz2:hover .msjMicroVoz2 {
    visibility: visible;
  }